[
  {
    "domain": ".youtube.com",
    "expirationDate": 1773617154.245101,
    "hostOnly": false,
    "httpOnly": false,
    "name": "__Secure-1PAPISID",
    "path": "/",
    "sameSite": "unspecified",
    "secure": true,
    "session": false,
    "storeId": "0",
    "value": "0V5G3zxiz3i9a8YU/AjLs1FU9PxQBsHrj5",
    "id": 1
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1773617154.245504,
    "hostOnly": false,
    "httpOnly": true,
    "name": "__Secure-1PSID",
    "path": "/",
    "sameSite": "unspecified",
    "secure": true,
    "session": false,
    "storeId": "0",
    "value": "g.a000tQgFWxCPVreQnyhb37qDvgfugEGHmP36QYnLM-bMThGcGPlw5nuxwhVDtFHacutpthi6mwACgYKAWYSARASFQHGX2MiT0H_FYjDcNm9B7QGtIMDeRoVAUF8yKpQWHLVNQfcqp7XDds4PljC0076",
    "id": 2
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1772656711.353582,
    "hostOnly": false,
    "httpOnly": true,
    "name": "__Secure-1PSIDCC",
    "path": "/",
    "sameSite": "unspecified",
    "secure": true,
    "session": false,
    "storeId": "0",
    "value": "AKEyXzULmfnL9SZlr4FUTg_R40VIna5rATmMRDiiZb9f_l1x_fBFvW7oSa2OTSyKqdi3tyoD3w",
    "id": 3
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1772656377.012997,
    "hostOnly": false,
    "httpOnly": true,
    "name": "__Secure-1PSIDTS",
    "path": "/",
    "sameSite": "unspecified",
    "secure": true,
    "session": false,
    "storeId": "0",
    "value": "sidts-CjEBEJ3XV9BnzpS6qEq3NGbHSIe-YFfuUzxPrisqk2V6PW_T6JT0fCiVdxw2FnJee_JKEAA",
    "id": 4
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1773617154.245134,
    "hostOnly": false,
    "httpOnly": false,
    "name": "__Secure-3PAPISID",
    "path": "/",
    "sameSite": "no_restriction",
    "secure": true,
    "session": false,
    "storeId": "0",
    "value": "0V5G3zxiz3i9a8YU/AjLs1FU9PxQBsHrj5",
    "id": 5
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1773617154.245534,
    "hostOnly": false,
    "httpOnly": true,
    "name": "__Secure-3PSID",
    "path": "/",
    "sameSite": "no_restriction",
    "secure": true,
    "session": false,
    "storeId": "0",
    "value": "g.a000tQgFWxCPVreQnyhb37qDvgfugEGHmP36QYnLM-bMThGcGPlwCoZhD8dbYW041T-a0UPtTwACgYKARYSARASFQHGX2MizafdLWISOo72kYRR5U5fEBoVAUF8yKqpTdnEdQmHyZ83HvEvcQWS0076",
    "id": 6
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1772656711.353665,
    "hostOnly": false,
    "httpOnly": true,
    "name": "__Secure-3PSIDCC",
    "path": "/",
    "sameSite": "no_restriction",
    "secure": true,
    "session": false,
    "storeId": "0",
    "value": "AKEyXzVUa89rNVWEm5esCd45CHWJJa32073l32AevF9tvwfXqSiycEuZ-5jg-0wPM7pfkoVXGNU",
    "id": 7
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1772656377.013606,
    "hostOnly": false,
    "httpOnly": true,
    "name": "__Secure-3PSIDTS",
    "path": "/",
    "sameSite": "no_restriction",
    "secure": true,
    "session": false,
    "storeId": "0",
    "value": "sidts-CjEBEJ3XV9BnzpS6qEq3NGbHSIe-YFfuUzxPrisqk2V6PW_T6JT0fCiVdxw2FnJee_JKEAA",
    "id": 8
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1773617154.245026,
    "hostOnly": false,
    "httpOnly": false,
    "name": "APISID",
    "path": "/",
    "sameSite": "unspecified",
    "secure": false,
    "session": false,
    "storeId": "0",
    "value": "vwEfBRHu9RUXqsvZ/AB7VUOTVaFEFEM5ph",
    "id": 9
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1773617154.244894,
    "hostOnly": false,
    "httpOnly": true,
    "name": "HSID",
    "path": "/",
    "sameSite": "unspecified",
    "secure": false,
    "session": false,
    "storeId": "0",
    "value": "Ap6Y8t1BYw1qlkxuw",
    "id": 10
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1742907046.245373,
    "hostOnly": false,
    "httpOnly": true,
    "name": "LOGIN_INFO",
    "path": "/",
    "sameSite": "no_restriction",
    "secure": true,
    "session": false,
    "storeId": "0",
    "value": "AFmmF2swRQIgFnrbbJjXxC9cAvZuh1Yv1svtZfJvilXExEw4P7ZjursCIQCVMWoVrzZnlKaLJUsObLOUQ0S_sRaUUpFpEVJouvXCww:QUQ3MjNmd2haQ1Z5S1cxMHZNaC11SGMxVmhTN1pYb19NQUVTbkN6U1lwTU5qNnNpQ3J4anMyRElURmxULXRSZTB3QUI1T2MyLUk1SWxUc0lLbTBHRlJTRDBoUExzcTY2NDhtWVNzSm9RcGtqZkVhUnRqajNGOVdmR2Q2VlVkb1FwLVpaUDRJT2NNYVhvbWtlSElQNWpRaHRKVUdjalVyYm5R",
    "id": 11
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1775680710.870273,
    "hostOnly": false,
    "httpOnly": false,
    "name": "PREF",
    "path": "/",
    "sameSite": "unspecified",
    "secure": true,
    "session": false,
    "storeId": "0",
    "value": "f6=40000080&f7=100&tz=America.Bogota&f4=4000000",
    "id": 12
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1773617154.245061,
    "hostOnly": false,
    "httpOnly": false,
    "name": "SAPISID",
    "path": "/",
    "sameSite": "unspecified",
    "secure": true,
    "session": false,
    "storeId": "0",
    "value": "0V5G3zxiz3i9a8YU/AjLs1FU9PxQBsHrj5",
    "id": 13
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1773617154.245473,
    "hostOnly": false,
    "httpOnly": false,
    "name": "SID",
    "path": "/",
    "sameSite": "unspecified",
    "secure": false,
    "session": false,
    "storeId": "0",
    "value": "g.a000tQgFWxCPVreQnyhb37qDvgfugEGHmP36QYnLM-bMThGcGPlwv-aXwOoD-aG30LQxLX67HAACgYKAVQSARASFQHGX2MiwpZERt6yi26gyGXEvcRLHRoVAUF8yKoMbGa2q8mTFdhe5kOQJzZ30076",
    "id": 14
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1772656711.353386,
    "hostOnly": false,
    "httpOnly": false,
    "name": "SIDCC",
    "path": "/",
    "sameSite": "unspecified",
    "secure": false,
    "session": false,
    "storeId": "0",
    "value": "AKEyXzVUxTto9n7s41b2g4EMwu4umWORno9xKxHhS5wvbz8niVGIdVwBAx8u5Vrc6og9161svg",
    "id": 15
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1773617154.244989,
    "hostOnly": false,
    "httpOnly": true,
    "name": "SSID",
    "path": "/",
    "sameSite": "unspecified",
    "secure": true,
    "session": false,
    "storeId": "0",
    "value": "ALiHGNCVWenymm8-p",
    "id": 16
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1741120715,
    "hostOnly": false,
    "httpOnly": false,
    "name": "ST-xuwub9",
    "path": "/",
    "sameSite": "unspecified",
    "secure": false,
    "session": false,
    "storeId": "0",
    "value": "session_logininfo=AFmmF2swRQIgFnrbbJjXxC9cAvZuh1Yv1svtZfJvilXExEw4P7ZjursCIQCVMWoVrzZnlKaLJUsObLOUQ0S_sRaUUpFpEVJouvXCww%3AQUQ3MjNmd2haQ1Z5S1cxMHZNaC11SGMxVmhTN1pYb19NQUVTbkN6U1lwTU5qNnNpQ3J4anMyRElURmxULXRSZTB3QUI1T2MyLUk1SWxUc0lLbTBHRlJTRDBoUExzcTY2NDhtWVNzSm9RcGtqZkVhUnRqajNGOVdmR2Q2VlVkb1FwLVpaUDRJT2NNYVhvbWtlSElQNWpRaHRKVUdjalVyYm5R",
    "id": 17
  }
]
